/* ----------------GOOGLE FONTS------------- */
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Color palet */
/* #E3F2FD
#BBDEFB
#90CAF9
#64B5F6
#42A5F5
#2196F3
#1E88E5
#1976D2
#1565C0
#0D47A1 */

/* ----------------CSS VARIABLES------------- */
:root {
  /* ----------------Colours------------- */

  --color-white: #fff;
  --color-primary: #2196f3;
  --color-primary-light: #64b5f6;
  --color-primary-dark: #1976d2;
  --color-text: #041530;

  /*-----------Font and typography-------- */
  --body-font: "Poppins", sans-serif;
  --logo-font: "Stylish", sans-serif;

  /*---------Font weight ------------*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*---------------BASE-----------------*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: #1e88e5;
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background: #f7f7f7;
  color: var(--color-text);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------Reusable CSS Classes-----------------*/

.section {
  min-height: 100vh;
  padding: 2rem 9%;
}

/*---------------NAV BAR-----------------*/

.header {
  background-color: #fff;
  height: 6.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 10%;
  box-shadow: 0 2px 4px rgba(146, 161, 176, 0.3);
}

.logo:link,
.logo:visited {
  font-family: var(--logo-font);
  font-size: 2.4rem;
  font-weight: bold;
  transition: color 0.2s ease;
}

.logo:hover,
.logo:active {
  color: #e5383b;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li:not(:last-child) {
  margin-right: 2.5rem;
}

.navbar .nav-items:link,
.navbar .nav-items:visited {
  font-size: 1.8rem;
  color: inherit;
  font-weight: 600;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}

.navbar .nav-items:hover,
.navbar .nav-items:active,
.navbar .nav-items.active {
  color: var(--color-primary);
  border-bottom: 0.2rem solid var(--color-primary);
  padding: 0.5rem 0;
}
